body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.first_part{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo, h1{
    font-weight: bold;
    color: #F5F7FA;
}

.logo{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 40px;
}

.headers_links{
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 40px;
    margin-top: 10px;
    display: flex;
    gap:15px;
}

.first_part_content{
    display:flex;
    justify-content: center;
    padding-bottom: 96px;
    padding-top: 64px;
    gap: 128px;
}

h1{
    font-size: 48px;
}

.awesome_text {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.first_button{
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #3882F6;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}

.image1{
    width:480px;
    height: 320px;
}

.secound_part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;

}

.informations{
    display:flex;
}

.informations_images{
    width: 192px;
    height: 192px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(38, 60, 156);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    font-size: 18px;
}

.third_part{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 590px 100px 590px;
}

.quote_author{
    align-self: flex-end;
}

.fourth_part{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    height: 100px;
    width: 800px;
    border-radius: 10px;
    margin: 75px;
}



.secound_button{
    background-color: #3882F6;
    color: #F5F7FA;
    height: 40px;
    width: 80px;
    border: solid;
    border-color: #F5F7FA;
    border-radius: 10px;
}